{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block title %}

Twink!

{% endblock %}

{% block body %}

<script src="{{ url_for('static', filename='index.js') }}"></script>

<nav class="navbar" style="background-color: #9db2f2; border-bottom: 5px solid white; display: flex;">
  <div class="navbar-brand" style="font-size: 30px; color: white; display: flex;">
    <img title="Twink logo" src="https://docs.google.com/drawings/d/e/2PACX-1vSr06A_c1Q_nQR9SwWGbE-hiq35zPxOwud1rlb7lC3550bcGYQ096iZq6yGvkGKg6Xy0NQYQChK1yx5/pub?w=1440&h=1080" width="55" height="45" class="d-inline-block align-top" style="font-weight: bold;">
      Twink!
      </div>
    <div style="display: flex; margin-left: 20%; position: relative; font-size: 30px;">
      <div title="{{ handle }}" style="color: white; font-weight: bold; margin-right: 10px;">
        {{ handle }}
      </div>
  <a title="Click to LogOut" class="badge badge-info" id="logout" href="{{ url_for('logout') }}" style="padding: 10px; color: white;">
    LogOut
  </a>
</div>
</nav>

<h1 class="bg-blue center" style="color: orange;">Twink! Welcomes you to Channel: {{ session.current_room }}!</h1>

<nav class="navbar navbar-light length" id="roomName" style="border-top-left-radius: 5px; border-top-right-radius: 5px; height: 40px; margin-bottom: 0px; background-color: #9e9fe8; border: 2px solid white; border-bottom: 0px; font-weight: bold; color: white;">{{ session.current_room }}</nav>
<div class="slider alert-info length" style="position: relative; height: 450px; overflow-y: auto; margin-top: 0px;">
<div data-spy="scroll" data-offset="0" class="scrollspy-example">
  <div id="msg-box" style="width: 95%; margin: 0 auto; margin-top: 10px; margin-bottom: 50px;">
{% if messages is not none %}
{% for msgs in messages %}
<div class="card" style="width: 100%; padding: 10px; margin-top: 5px;">
  <h5>{{ msgs.user }}</h5>
  <p>{{ msgs.content }}</p>
  <div class="right">{{ msgs.date }} at {{ msgs.time }}</div>
</div>
{% endfor %}
<div style="margin-top: 5px;" class="alert alert-warning center">
{{ '----- Old Messages End -----' }}
</div>
{% endif %}
</div>
</div>
</div>

<form class="bg-blue length" id="form1" style="display: flex; margin-bottom: 20px; margin-top: 1%;">

<div class="input-group">
  <textarea name="msg" form="form1" class="typearea form-control" rows="4" cols="80" placeholder="Message" style="resize: none"></textarea>
  <div class="input-group-append">
    <span class="input-group-text" style="display: flex; flex-wrap: wrap;">
      <button type="reset" class="send" name="send" title="Send"></button>
      <a type="submit" class="btn btn-sm send0" title="Exit Room" href="{{ url_for('index') }}"></a>
    </span>
  </div>
</div>

</form>

{% endblock %}
